.tools {
  background-color: #f3f4f8;
  width: 300px;
  position: relative;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

.toolItems {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow-y: auto;
  padding-right: 20px;
  direction: ltr;
  padding-bottom: 20px;
}

.toolItem {
  margin: 10px auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  font-size: 1.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

.toolIcon {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-left: 10px;
}

.toolTitle {
  color: #03045e;
}

.toolTabs {
  width: calc(100%);
  border-radius: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 1;
  background-color: #ddd;
  margin: 10px auto;
}

.toolTab {
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
  background-color: transparent;
}

.toolTab:first-of-type {
  border-radius: 0 10px 10px 0;
}

.toolTab:last-of-type {
  border-radius: 10px 0 0 10px;
}

.toolTabLabel {
  color: #03045e;
  display: flex;
  align-items: center;
}

.toolTabLabel > * {
  margin: 0 2px;
}
