@import url("./fonts.css");
@import url("./variables.css");

* {
  direction: rtl;
  font-family: iranyekan;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}

#modal {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  z-index: -999999999;
  pointer-events: none;
}

#modal.active {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1300;
  pointer-events: visible;
  background-color: rgba(0, 0, 0, 0.2);
}

.d-none {
  display: none;
}
