#nprogress .bar {
  background: var(--primary);
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--primary), 0 0 5px var(--primary);
}

#nprogress .spinner-icon {
  border-top-color: var(--primary);
  border-left-color: var(--primary);
}
